.toolBar {
  background-color: #fbfbfb;
  width: var(--tool-bar-width);
  height: 100%;
  border-right: var(--primary-border-style);
  display: flex;
}

.categories {
  width: var(--tool-bar-category-width);
  height: 100%;
  border-right: var(--primary-border-style);
}

.categoryItem {
  width: var(--tool-bar-category-width);
  height: var(--tool-bar-category-height);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: var(--primary-border-style);
  cursor: pointer;
}

.active {
  background-color: var(--tool-bar-selected-bg-color);
}
