.output {
  border-top: var(--primary-border-style);
  height: var(--output-height);
  width: 100%;
  display: flex;
  position: relative;
}

.action {
  border-right: var(--primary-border-style);
  width: var(--tool-bar-width);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.action button {
  width: 100px;
}

.outputJson {
  overflow: scroll;
  flex: 1;
  margin: 0;
}
