.assetsBoard {
  width: calc(var(--tool-bar-category-width) * 2);
  background-color: var(--tool-bar-selected-bg-color);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.element {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
