.toolMap {
  width: 100%;
  overflow: scroll;
  border: var(--primary-border-style);
}

.mapWrapper {
  position: relative;
}

.map {
  width: 100%;
  min-width: 1444px;
}

.toolMap.draggingOver {
  border: var(--highlight-border-style);
}

.asset {
  position: absolute;
}
