.toolSidebar {
  background-color: #fbfbfb;
  width: var(--tool-bar-width);
  height: 100%;
  border-right: var(--primary-border-style);
  display: flex;
  box-sizing: content-box;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categories {
  width: var(--tool-bar-category-width);
  height: 100%;
  border-right: var(--primary-border-style);
  display: flex;
  flex-direction: column;
}

.categoryItem {
  width: var(--tool-bar-category-width);
  height: var(--tool-bar-category-height);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: var(--primary-border-style);
  cursor: pointer;
}

.active {
  background-color: var(--tool-bar-selected-bg-color);
}

.deleteIcon {
  padding: 10px;
  border-right: var(--primary-border-style);
  border-bottom: none;
}

.deleteIcon img {
  height: 100%;
  width: 100%;
}
